@charset "UTF-8";

* {
	-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family:flamenco,"Segoe UI","Helvetica Neue Light","sans serif"
}

html {
	height:100%;
	width:100%;
	overflow:hidden;
}

#group {
	margin:auto;
	position:absolute;
	top:55%;
	margin-left: -20px;
}

h1 {
	font-size:89px;
	font-weight:300;	
}

h2 {
	font-size:30px;
	font-weight:400;	
}

.block {
display:inline-block;
width:12.5%;
height:12.5%;
box-sizing: border-box;
background:#fff;
font-family:'flamenco',futura,"gill sans MT";
color:#fff;
background:#fff;
vertical-align: top;
font-size:0px;
background-image:url('./assets/boxlight.svg');
background-size:cover;
opacity:0.2;
}

body {
margin:0;
overflow:hidden;
text-align:center;
/*-webkit-filter:blur(0.6px);
filter:blur(0.6px)*/
}

#canvas {
	position: absolute;
    right: 0;
    left: 0;
	bottom:0;
	top:0;
}

.view0 {
width:80vmin;
height:80vmin;
-webkit-transform:rotateX(54.76deg) rotateZ(45deg);
        transform:rotateX(54.76deg) rotateZ(45deg); /*Use these to rotate board*/
margin:auto;
-webkit-transform-style:preserve-3d;
        transform-style:preserve-3d;
-webkit-transition: -webkit-transform 0.5s; /* Safari */
  -webkit-transition: -webkit-transform 0.5s ease-in-out; /* Changed here */
          transition: transform 0.5s ease-in-out;
}

.view2 {
width:80vmin;
height:80vmin;
-webkit-transform:rotateX(90deg) rotateZ(0deg);
        transform:rotateX(90deg) rotateZ(0deg); /*Use these to rotate board*/
margin:auto;
-webkit-transform-style:preserve-3d;
        transform-style:preserve-3d;
-webkit-transition: -webkit-transform 0.5s; /* Safari */
  -webkit-transition: -webkit-transform 0.5s ease-in-out; /* Changed here */
          transition: transform 0.5s ease-in-out;
}

.view1 {
width:80vmin;
height:80vmin;
-webkit-transform:rotateX(0deg) rotateZ(0deg);
        transform:rotateX(0deg) rotateZ(0deg); /*Use these to rotate board*/
margin:auto;
-webkit-transform-style:preserve-3d;
        transform-style:preserve-3d;
-webkit-transition: -webkit-transform 0.5s; /* Safari */
  -webkit-transition: -webkit-transform 0.5s ease-in-out; /* Changed here */
          transition: transform 0.5s ease-in-out;
}

#container {
width:100%;
height:100%;
text-align:left;
-webkit-transform-style:preserve-3d;
        transform-style:preserve-3d;
}

/* Top */
body {
    font-size: 10px;
	height:100%;
	
}

div[class^="cube"]{
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
			-webkit-transform-style:preserve-3d;
        transform-style:preserve-3d;
-webkit-transition: -webkit-transform 0.5s; /* Safari */
  -webkit-transition: -webkit-transform 0.5s ease-in-out; /* Changed here */
          transition: transform 0.5s ease-in-out;
}

.cubetop {
	-webkit-transform:translateZ(10vmin);
	        transform:translateZ(10vmin);
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    font-size: 24px;
    background: #fcfcfc;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    box-sizing: border-box;
	background-image:url('./assets/boxlight.svg');
background-size:cover;
}

.cubeleft {
-webkit-transform:rotateY(90deg) translateZ(5vmin) translateX(-5vmin);
        transform:rotateY(90deg) translateZ(5vmin) translateX(-5vmin);
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    font-size: 24px;
    background: #000;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    box-sizing: border-box;
	background-image:url('./assets/boxdark.svg');
background-size:cover;
}

.cuberight {
	-webkit-transform: rotateX(-90deg) translateZ(5vmin) translateY(-5vmin);
	        transform:rotateX(-90deg) translateZ(5vmin) translateY(-5vmin);
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    font-size: 24px;
    background: #ddd;
    box-sizing: border-box;
	background-image:url('./assets/boxlight.svg');
background-size:cover;
	
}

button {
	background: #fff;
    outline: none;
    border: 1px solid #888;
    padding: 9px;
    border-radius: 6px;
	font-family:futura,"gill sans MT";
	font-variant:small-caps;
	cursor:pointer;
}

button:hover {
	background: #ddd;
}

button:active {
	background: #bbb;
}

#bunchobuttons {
	position:absolute;
	top:20px;
	left:20px;
	display:flex;
	flex-direction:column;
}

button[onclick="character.move('up')"] { 
   position:absolute;
   bottom:60px;
   left:20px;
   
}
button[onclick="character.move('down')"] { 
   position:absolute;
   bottom:10px;
   left:20px;
   
}
button[onclick="character.move('right')"] { 
   position:absolute;
   bottom:110px;
   left:20px;
   
}
button[onclick="character.move('left')"] { 
   position:absolute;
   bottom:160px;
   left:20px;
   
}

.stairleft1 {
height:10vmin;
	width:10vmin;
	position: absolute;
    font-size: 24px;
    background: #000;
    box-sizing: border-box;
	-webkit-transform:rotateY(90deg) translateZ(-1.67vmin) translateX(-5vmin);
        transform:rotateY(90deg) translateZ(-1.67vmin) translateX(-5vmin);
}
.stairtop1 {
	height:10vmin;
	width:3.33vmin;
	-webkit-transform:translateZ(10vmin);
	        transform:translateZ(10vmin);
    position: absolute;
    font-size: 24px;
    background: #fcfcfc;
    box-sizing: border-box;
	background-image:url('./assets/boxlight.svg');
background-size:cover;
}
.stairright1 {
	height:10vmin;
	width:3.33vmin;
	-webkit-transform: rotateX(90deg) translateZ(-5vmin) translateY(5vmin) rotateY(180deg);
	        transform: rotateX(90deg) translateZ(-5vmin) translateY(5vmin) rotateY(180deg);
    position: absolute;
    font-size: 24px;
    background: #ddd;
    box-sizing: border-box;
}

.stairleft2 {
height:10vmin;
	width:6.67vmin;
	position: absolute;
    font-size: 24px;
    background: #000;
    box-sizing: border-box;
	-webkit-transform:rotateY(-90deg) translateZ(-3.33vmin) rotateX(180deg) translateX(3.33vmin);
        transform:rotateY(-90deg) translateZ(-3.33vmin) rotateX(180deg) translateX(3.33vmin);
}
.stairtop2 {
	height:10vmin;
	width:3.33vmin;
	-webkit-transform:translateZ(6.67vmin) translateX(3.33vmin);
	        transform:translateZ(6.67vmin) translateX(3.33vmin);
    position: absolute;
    font-size: 24px;
    background: #fcfcfc;
    box-sizing: border-box;
	background-image:url('./assets/boxlight.svg');
background-size:cover;
background-position:center;
}
.stairright2 {
	height:6.67vmin;
	width:4.33vmin;
	-webkit-transform: rotateX(90deg) translateZ(-6.67vmin) translateY(3.33vmin) translateX(2.33vmin) rotateY(180deg);
	        transform: rotateX(90deg) translateZ(-6.67vmin) translateY(3.33vmin) translateX(2.33vmin) rotateY(180deg);
    position: absolute;
    font-size: 24px;
    background: #ddd;
    box-sizing: border-box;
}

.stairleft3 {
height:10vmin;
	width:3.33vmin;
	position: absolute;
    font-size: 24px;
    background: #000;
    box-sizing: border-box;
	-webkit-transform:rotateY(-90deg) translateZ(-8.33vmin) rotateX(180deg) translateX(1.67vmin);
        transform:rotateY(-90deg) translateZ(-8.33vmin) rotateX(180deg) translateX(1.67vmin);
}
.stairtop3 {
	height:10vmin;
	width:3.33vmin;
	-webkit-transform:translateZ(3.33vmin) translateX(6.67vmin);
	        transform:translateZ(3.33vmin) translateX(6.67vmin);
    position: absolute;
    font-size: 24px;
    background: #fcfcfc;
    box-sizing: border-box;
	background-image:url('./assets/boxlight.svg');
background-size:cover;
background-position:right;
}
.stairright3 {
	height:3.33vmin;
	width:4.33vmin;
	-webkit-transform: rotateX(90deg) translateZ(-8.33vmin) translateY(1.67vmin) translateX(5.67vmin) rotateY(180deg);
	        transform: rotateX(90deg) translateZ(-8.33vmin) translateY(1.67vmin) translateX(5.67vmin) rotateY(180deg);
    position: absolute;
    font-size: 24px;
    background: #ddd;
    box-sizing: border-box;
}

.teleporterright {
	position: absolute;
    width: 10vmin;
    height: 20vmin;
    font-size: 24px;
    background: #ddd;
    box-sizing: border-box;
    background-size: cover;
	transform:rotateX(-90deg) translateZ(0vmin) translateY(-10vmin);
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
			-webkit-transform-style:preserve-3d;
        transform-style:preserve-3d;
-webkit-transition: -webkit-transform 0.5s; /* Safari */
  -webkit-transition: -webkit-transform 0.5s ease-in-out; /* Changed here */
          transition: transform 0.5s ease-in-out;
}

.teleportertop {
	-webkit-transform:translateZ(20vmin);
	        transform:translateZ(20vmin);
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    font-size: 24px;
    background: #fcfcfc;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    box-sizing: border-box;
background-size:cover;
}

.teleporterleft {
	transform:rotateY(90deg) translateZ(0vmin) translateX(-10vmin) translateY(0vmin) rotateZ(180deg);
	position: absolute;
    width: 20vmin;
    height: 10vmin;
    font-size: 24px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-sizing: border-box;
    background-image: url('./assets/arch.svg');
    background-size: cover;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
			-webkit-transform-style:preserve-3d;
        transform-style:preserve-3d;
-webkit-transition: -webkit-transform 0.5s; /* Safari */
  -webkit-transition: -webkit-transform 0.5s ease-in-out; /* Changed here */
          transition: transform 0.5s ease-in-out;
}

.teleporterback {
	transform:rotateY(90deg) translateZ(-10vmin) translateX(-10vmin) translateY(0vmin) rotateZ(180deg);
	position: absolute;
    width: 20vmin;
    height: 10vmin;
    font-size: 24px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-sizing: border-box;
    background-image: url('./assets/arch.svg');
    background-size: cover;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
			-webkit-transform-style:preserve-3d;
        transform-style:preserve-3d;
-webkit-transition: -webkit-transform 0.5s; /* Safari */
  -webkit-transition: -webkit-transform 0.5s ease-in-out; /* Changed here */
          transition: transform 0.5s ease-in-out;
}

.teleporterdoor {
	transform:rotateY(90deg) rotateZ(180deg) translateX(10vmin);
	transform-style:preserve-3d;
	width: 20vmin;
    height: 10vmin;
	background-image:url('./assets/archdoor.svg');
	position:absolute;
	background-size:cover;
	-webkit-transition: -webkit-transform 0.5s; /* Safari */
  -webkit-transition: -webkit-transform 0.5s ease-in-out; /* Changed here */
          transition: transform 0.5s ease-in-out;
}

.teleporterdooropen {
	transform:rotateY(90deg) rotateX(-180deg) rotateZ(180deg) translateX(10vmin);
	transform-style:preserve-3d;
	width: 20vmin;
    height: 10vmin;
	background-image:url('./assets/archdoor.svg');
	position:absolute;
	background-size:cover;
	-webkit-transition: -webkit-transform 0.5s; /* Safari */
  -webkit-transition: -webkit-transform 0.5s ease-in-out; /* Changed here */
          transition: transform 0.5s ease-in-out;
}

.ground {
		-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
			-webkit-transform-style:preserve-3d;
        transform-style:preserve-3d;
-webkit-transition: -webkit-transform 0.5s; /* Safari */
  -webkit-transition: -webkit-transform 0.5s ease-in-out; /* Changed here */
          transition: transform 0.5s ease-in-out;
	-webkit-transform:translateZ(10vmin);
	        transform:translateZ(10vmin);
    position: absolute;
    width: 80vmin;
    height: 80vmin;
    font-size: 24px;
   background-image:-webkit-linear-gradient(left, #fff 1%, hsla(0,0%,100%,0) 1%, hsla(0,0%,100%,0) 98%, #fff 98%), -webkit-linear-gradient(hsla(0,0%,100%,1) 1%, #f6f6f6 1%, #f6f6f6 98%, #fff 98%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    box-sizing: border-box;
    background-size: 12.5% 12.5%;
}

.character > .face1 {
	background-image: url('./assets/character.svg');
	height: 15vmin;
    width: 8vmin;
    -webkit-transform: rotateX(-90deg) translateY(-7.5vmin) translateZ(-2.5vmin);
            transform: rotateX(-90deg) translateY(-7.5vmin) translateZ(-2.5vmin);
	margin:auto;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-transition: -webkit-transform 0.7s ease-out; /* Changed here */
          transition: transform 0.7s ease-out;
	background-size:cover;
}

.character {
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
	position: relative;
    width: 10vmin;
    height: 0; /* Safari */
  -webkit-transition: -webkit-transform 0.6s linear; /* Changed here */
          transition: transform 0.6s linear;
}

#controls {
	position: absolute;
    bottom: -5vmin;
    left: 10vmin;
    -webkit-transform: rotateX(54.76deg) rotateZ(45deg);
            transform: rotateX(54.76deg) rotateZ(45deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
	height:24vmin;
	width:24vmin;
	
}

#controls > * {
				transition:transform 0.3s ease;

}

#controls > .cubeleft {
	-webkit-transform:translateX(-12vmin);
	    -ms-transform:translateX(-12vmin);
	        transform:translateX(-12vmin);
}

#controls > .cubeleft > .cubetop{
	background-image:url('./assets/boxarrow.svg');
	background-size:cover;
	transform: rotateZ(-90deg) translateZ(10vmin)
}

#controls > .cuberight {
	-webkit-transform:translateX(12vmin);
	    -ms-transform:translateX(12vmin);
	        transform:translateX(12vmin);
}
#controls > .cuberight > .cubetop{
	background-image:url('./assets/boxarrow.svg');
	background-size:cover;
	transform: rotateZ(90deg) translateZ(10vmin)
}

#controls > .cubeup {
	-webkit-transform:translateY(-12vmin);
	    -ms-transform:translateY(-12vmin);
	        transform:translateY(-12vmin);
}

#controls > .cubeup > .cubetop{
	background-image:url('./assets/boxarrow.svg');
	background-size:cover;
	transform: rotateZ(00deg) translateZ(10vmin)
}

#controls > .cubedown {
	-webkit-transform:translateY(12vmin);
	    -ms-transform:translateY(12vmin);
	        transform:translateY(12vmin);
}

#controls > .cubedown > .cubetop{
	background-image:url('./assets/boxarrow.svg');
	background-size:cover;
	transform: rotateZ(180deg) translateZ(10vmin)
}